/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  font-family: "Inter";
  padding-top: 100px;
}

.app-container {
  display: flex;
  height: 100vh; /* Full height */
}
